.form {
  border: 1px solid #111;
  border-radius: 4px;
  box-shadow: -20px -20px 1px rgba(0, 0, 0, 0.75);

  background-color: #9CA0A2;
  height: 60%;
  width: 60%;
  
}
.form:hover {
  box-shadow: 20px 20px 1px rgba(0, 0, 0, 0.75);

}

.subform {
  height: 90%;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  /* background-color: white; */
}

form {
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
    
}

input {
  width: 60%;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 20px;
  background-color: #9CA0A2;
  border: none;
  border-bottom: 5px solid white;
  outline: none;
  color: rgba(0, 0, 0, 1);
  
}
input:focus {
  background-color: #9CA0A2;
  
}
input::placeholder{
  color: white;
}
