.grid-container {
  display: grid;
  grid-template-columns: auto auto;

}
.grid-item {
  display: inline-block;
  color: white;
  font-weight: lighter;
  padding: 20px;
  font-size: 30px;
  width: 500px;
  height: 400px;
  margin: 5%;
  text-align: center;
  border: 1px solid #111;
  border-radius: 4px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.75);
  background-color: #9CA0A2;
}